body{
    background-color: black;
    color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif, cursive;
    /* border: 2px solid gold; */
}

.title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    gap: 1em;

}
h1{
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 80px;
    font: bold;
    text-align: center;
    /* text-shadow: 5px 5px 12px black; */
    -webkit-text-fill-color: goldenrod;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: goldenrod;
    vertical-align: text-top;
    padding-left: 5px;
    padding-top: 0px;
    padding-right: 180px;
    padding-bottom: 0px;
}

.logo {
    padding-left: 1px;
    padding-right: 0;
    padding-top: 30px;
    height: 100px;
   }
.nav{
    font-size: 60px;
    display: flex;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 0;
    justify-content: space-between;
    text-align: center;  
}
.nav img{
    height: 240px;
    border: 5px solid white;
    border-radius: 60px;
    padding-top: 0;
    width: 350px
}

#denver-list {
    display: flex;
    justify-content: center;
}

#denver-list img {
    width: 150px;
    height: auto;
    margin: 68px 106px;
}

#denver-list img:hover {
    filter: drop-shadow(1 1 2rem white);
}

#category-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    height: 400px;
    margin-top: 25px;
    align-content: left;
}

#category-info img {
    filter: drop-shadow(1 1 2rem gold);
    margin: 5%;
    width: 20%;
    height: auto;
}

#category-info div {
    display: flex;
    justify-content: left;
    margin-top: 2px;
    border-color: darkred;
    border-radius: 5px;
}

#category-info div p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comment h2{
    display: flex;
    justify-content: left;
    padding: 20px;
    font-size: 24px;
    font: italic;
    height: 50px;
    /* -webkit-box-sizing: content-box; */
}


.suggestion {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    height: 60px;
    font-size: 24px;
}

footer p {
    color: gold;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
