body{
    background-color: darkslateblue;
    color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif, cursive;
    border: 2px solid whitesmoke;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 5px 12px black;
}

.logo {
    justify-content: center;
    /* margin: 10px 10px 10px 10px; */
    width: 25%;
    /* height:auto; */
    /* vertical-align: top; */
    
}

#denver-list {
    display: flex;
    justify-content: center;
}

#denver-list img {
    width: 150px;
    height: auto;
    margin: 10px;
}

#denver-list img:hover {
    filter: drop-shadow(1 1 2rem white)
}

#category-info {
    display: flex;
    flex-direction: column;
    height: 400px;
    margin-top: 25px;
    align-content: left;
}

#category-info img {
    filter: drop-shadow(1 1 2rem gold);
    margin: 5%;
    width: 20%;
    height: auto;
}

#category-info div {
    display: flex;
    justify-content: left;
    margin-top: 2px;
    border-color: darkred;
    border-radius: 5px;
}

#category-info div p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#comment {
    justify-content: left;
    padding-left: 50px;
    background-color: grey;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 50px;
    -webkit-box-sizing:   border-box;
}


form {
    padding: 0px;
    height: auto;
}

footer p {
    color: gold;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
