body{
    background-color: darkslateblue;
    color: white; 
    font-style:italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 2px solid black;
}

h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    text-align: center;
    text-shadow: 5px 5px 12px black;
}

#denver-list {
    display: flex;
    justify-content: center;
}

#denver-list img {
    width: 150px;
    height: auto;
    margin: 10px;
}
