body{
    background-color: black;
    color: white; 
    font-family: Georgia, 'Times New Roman', Times, serif, cursive;
    /* border: 2px solid gold; */
}

.title {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    gap: 1em;
    /* position:absolute; */
}
h1{
    display: flex;
    justify-content: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 65px;
    font: bold;
    text-align: center;
    /* text-shadow: 5px 5px 12px black; */
    -webkit-text-fill-color: goldenrod;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: goldenrod;
    vertical-align: text-top;
    padding-left: 5px;
    padding-top: 0px;
    padding-right: 180px;
    padding-bottom: 0px;
}

.logo {
    padding-left: 1px;
    padding-right: 0;
    padding-top: 30px;
    height: 100px;
   }
.nav{
    font-size: 55px;
    font-weight: 500px;
    display: flex;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 0;
    justify-content: space-between;
    text-align: center;
    -webkit-text-fill-color: silver;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: silver;
}
.nav img{
    height: 240px;
    border: 5px solid silver;
    border-radius: 60px;
    border-style:outset;
    padding-top: 0;
    width: 350px
}

#denver-list {
    display: flex;
    justify-content: center;
}

/* MOUSEOVER EVENT HAPPENS HERE */

.noColor {
    width: 150px;
    height: auto;
    margin: 68px 106px;
    border: 5px dashed silver;
    border-radius: 20px;
    border-style:outset;
}

.Color {
    width: 200px;
    height: auto;
    margin: 68px 106px;
    border: 5px dashed rgb(216, 74, 22);
    border-radius: 20px;
    border-style:double;
}

/* #denver-list img:hover {
    filter: drop-shadow(1 1 2rem silver);
} */

#category-info {
    display: flex;
    flex-direction: column;
    width: 1500px;
    margin-left: 25px;
    margin-bottom: 50px;
    /* justify-content: space-evenly;
    align-items: flex-start;
    height: 400px;
    margin-top: 25px;
    align-content: left; */
}

.category{
    text-transform:uppercase;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 5px;
}

#description{
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#h2name{
    text-transform:capitalize;
    font-size: 30px;
}
/* #category-info img {
    filter: drop-shadow(1 1 2rem gold);
    margin: 5%;
    width: 20%;
    height: auto;
}

#category-info div {
    display: flex;
    justify-content: left;
    margin-top: 2px;
    border-color: darkred;
    border-radius: 5px;
}

#category-info div p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
} */


#comment{
    display: flex;
    margin-left: 25px;
    flex-direction: column;
    
}


.suggestion {
    display: flex;
    justify-content: center;
    padding-left: 5px;
    height: 60px;
    font-size: 24px;
}

footer p {
    color: goldenrod;
    font-size: 14px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
